IMPORTING THE REQUIRED LIBRARIES

In [1]:
import pandas as pd
from pymongo import MongoClient
import matplotlib.pyplot as plt

Retrieving data from Mongodb Atlas -Cluster

In [2]:
url = "mongodb+srv://nilomubeen:**********@airbnb.ib6ucph.mongodb.net/?retryWrites=true&w=majority"

In [3]:
client = MongoClient(url)
db = client.sample_airbnb
coll = db.listingsAndReviews

In [4]:
airbnb_data = []
cursor = coll.find()
for doc in cursor:
    data = dict(
                Name= doc['name'],
                Property_type = doc['property_type'],
                Country = doc['address']['country'],
                code = doc['address']['country_code'],
                latitude = doc['address']['location']['coordinates'][1],
                longitude = doc['address']['location']['coordinates'][0],
                neighbourhood = doc['address']['suburb'],
                Accomadates = doc['accommodates'],
                Price = doc['price'],
                guests_included = doc['guests_included'],
                Extra_people = doc['extra_people'],
                min_nights = doc['minimum_nights'],
                max_nights = doc['maximum_nights'],
                Cancellation_policy = doc['cancellation_policy'],
                amenities = doc['amenities'],
                availability_365 = doc['availability']['availability_365'],
                bedrooms = doc.get('bedrooms'),
                beds = doc.get('beds'),
                room_type = doc['room_type'],
                last_review = doc.get('last_review'),
                Reviews_count = doc['number_of_reviews'],
                review_score = doc['review_scores'].get('review_scores_rating'),
                host_listings = doc['host']['host_listings_count'],
                host_name = doc['host']['host_name'],
                host_id =doc['host']['host_id'],
                verified_host = doc['host']['host_identity_verified']
                )
    airbnb_data.append(data)

Creating dataframe with required columns

In [5]:
df1 = pd.DataFrame(airbnb_data)
df1.head()

,Name,Property_type,Country,code,latitude,longitude,neighbourhood,Accomadates,Price,guests_included,...,bedrooms,beds,room_type,last_review,Reviews_count,review_score,host_listings,host_name,host_id,verified_host
0,Apt Linda Vista Lagoa - Rio,Apartment,Brazil,BR,-22.971951,-43.205047,Lagoa,2,701.00,1,...,1.0,1.0,Private room,NaT,0,NaN,1,Livia,51496939,False
1,Ribeira Charming Duplex,House,Portugal,PT,41.141300,-8.613080,,8,80.00,6,...,3.0,5.0,Entire home/apt,2019-01-20 05:00:00,51,89.0,3,Ana&Gonçalo,51399391,True
2,Charming Flat in Downtown Moda,House,Turkey,TR,40.985850,29.031330,Moda,6,527.00,1,...,2.0,6.0,Entire home/apt,2016-04-02 04:00:00,1,100.0,2,Zeynep,1241644,True
3,Ligne verte - à 15 min de métro du centre ville.,Apartment,Canada,CA,45.545480,-73.549490,Hochelaga-Maisonneuve,2,43.00,1,...,0.0,1.0,Entire home/apt,NaT,0,NaN,1,Caro,7140229,False
4,Ótimo Apto proximo Parque Olimpico,Apartment,Brazil,BR,-23.000358,-43.431112,Recreio dos Bandeirantes,5,858.00,1,...,2.0,2.0,Entire home/apt,NaT,0,NaN,1,Jonathan,51670240,False

# Data cleaning

In [6]:
df1.shape

(5555, 26)

In [7]:
df1.isna().sum()

Name                      0
Property_type             0
Country                   0
code                      0
latitude                  0
longitude                 0
neighbourhood             0
Accomadates               0
Price                     0
guests_included           0
Extra_people              0
min_nights                0
max_nights                0
Cancellation_policy       0
amenities                 0
availability_365          0
bedrooms                  5
beds                     13
room_type                 0
last_review            1388
Reviews_count             0
review_score           1474
host_listings             0
host_name                 0
host_id                   0
verified_host             0
dtype: int64

In [8]:
df1.dropna(inplace=True)

In [9]:
df1.shape

(4077, 26)

Type casting

In [10]:
def dtype(column):
    df1[column]= df1[column].astype(str).astype(float)
    
dtype('Price')
dtype('guests_included')
dtype('Extra_people')

In [11]:
def in_type(column):
    df1[column]= df1[column].astype(str).astype(int)
in_type('max_nights')
in_type('min_nights')

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4077 entries, 1 to 5554
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 4077 non-null   object
 1   Property_type        4077 non-null   object
 2   Country              4077 non-null   object
 3   code                 4077 non-null   object
 4   latitude             4077 non-null   float64
 5   longitude            4077 non-null   float64
 6   neighbourhood        4077 non-null   object
 7   Accomadates          4077 non-null   int64
 8   Price                4077 non-null   float64
 9   guests_included      4077 non-null   float64
 10  Extra_people         4077 non-null   float64
 11  min_nights           4077 non-null   int32
 12  max_nights           4077 non-null   int32
 13  Cancellation_policy  4077 non-null   object
 14  amenities            4077 non-null   object
 15  availability_365     4077 non-null   int64
 16  bedrooms             4077 non-null   float64
 17  beds                 4077 non-null   float64
 18  room_type            4077 non-null   object
 19  last_review          4077 non-null   datetime64[ns]
 20  Reviews_count        4077 non-null   int64
 21  review_score         4077 non-null   float64
 22  host_listings        4077 non-null   int64
 23  host_name            4077 non-null   object
 24  host_id              4077 non-null   object
 25  verified_host        4077 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(8), int32(2), int64(4), object(10)
memory usage: 800.3+ KB

Processing data according to geojson file

In [13]:
df1['Country'] = df1['Country'].replace(['United States'],'United States of America')
df1['code'] = df1['code'].replace(['BR'],'BRA')
df1['code'] = df1['code'].replace(['PT'],'PRT')
df1['code'] = df1['code'].replace(['TR'],'TUR')
df1['code'] = df1['code'].replace(['US'],'USA')
df1['code'] = df1['code'].replace(['HK'],'CHN')
df1['code'] = df1['code'].replace(['ES'],'ESP')
df1['code'] = df1['code'].replace(['AU'],'AUS')
df1['code'] = df1['code'].replace(['BR'],'BRA')
df1['code'] = df1['code'].replace(['CN'],'CHN')

In [14]:
df1.to_csv("AirBNB.csv")